/* SOBRE NOSOTROS */
.sobre-nosotros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 60px 40px;
  background-color: #fffdf2;
}

.sobre-nosotros .contenido {
  flex: 1 1 500px;
  max-width: 600px;
  padding: 20px;
}

.sobre-nosotros .contenido h2 {
  color: #c57f17;
  margin-bottom: 15px;
}

.sobre-nosotros .contenido h3 {
  color: #ff9100;
  margin-top: 25px;
}

.sobre-nosotros .contenido p {
  line-height: 1.6;
  color: #444;
}

.sobre-nosotros ul {
  margin-top: 10px;
  padding-left: 20px;
}

.sobre-nosotros ul li {
  margin-bottom: 8px;
}

.imagen-sobre {
  flex: 1 1 400px;
  text-align: center;
}

.imagen-sobre img {
  width: 90%;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
