/* Fuente general */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff8cc;
  color: #333;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #1e1f26;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover,
nav a.active {
  color: #ffd54f;
}

/* HERO */
.hero {
  background: url('../images/frutas_banner.jpg') center/cover no-repeat;
  text-align: center;
  color: #fff;
  padding: 120px 20px;
  background-attachment: fixed;
}

.hero-text {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 30px 40px;
  border-radius: 15px;
}

.hero-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  background-color: #ffb300;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background-color: #ff9100;
}

/* DESTACADOS */
.destacados {
  text-align: center;
  padding: 60px 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card h3 {
  color: #c57f17;
  margin-top: 10px;
}

.card p {
  color: #555;
}

/* FOOTER */
footer {
  background-color: #1e1f26;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}


/* Botón menú móvil */
.menu-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-icon {
  width: 24px;
  height: 24px;
}
